In [1]:
import Quandl

In [ ]:
def get_stock(symbol, trim_start="2005-01-01", trim_end="2015-12-31"):
    return Quandl.get(symbol,authtoken='c2365v55yoZrWKxbVxwK', trim_start = trim_start, trim_end = trim_end)

In [6]:
s_MSFT_p = Quandl.get('GOOG/NASDAQ_MSFT',authtoken='c2365v55yoZrWKxbVxwK',trim_start = "2005-01-01")

In [7]:
s_JPM_p = Quandl.get('GOOG/NYSE_JPM',authtoken='c2365v55yoZrWKxbVxwK',trim_start = "2005-01-01")

In [8]:
s_MSFT_p

             Open   High    Low  Close     Volume
Date
1986-03-13   0.00    NaN    NaN   0.10   30758400
1986-03-14   0.00    NaN    NaN   0.10    7852896
1986-03-17   0.00    NaN    NaN   0.10   33036768
1986-03-18   0.00    NaN    NaN   0.10   66403296
1986-03-19   0.00    NaN    NaN   0.10   47846304
1986-03-20   0.00    NaN    NaN   0.10   58377600
1986-03-21   0.00    NaN    NaN   0.09   59932800
1986-03-24   0.00    NaN    NaN   0.09   65222496
1986-03-25   0.00    NaN    NaN   0.09   32051232
1986-03-26   0.00    NaN    NaN   0.09   22729536
1986-03-27   0.00    NaN    NaN   0.10   16828704
1986-03-31   0.00    NaN    NaN   0.10   12860928
1986-04-01   0.00    NaN    NaN   0.09   11078496
1986-04-02   0.00    NaN    NaN   0.10   26985600
1986-04-03   0.00    NaN    NaN   0.10   23017536
1986-04-04   0.00    NaN    NaN   0.10   26553600
1986-04-07   0.00    NaN    NaN   0.09   16540704
1986-04-08   0.00    NaN    NaN   0.10   10243296
1986-04-09   0.00    NaN    NaN   0.10   12144096
1986-04-10   0.00    NaN    NaN   0.10   13868928
1986-04-11   0.00    NaN    NaN   0.10   17203104
1986-04-14   0.00    NaN    NaN   0.10   12144096
1986-04-15   0.00    NaN    NaN   0.10    9292896
1986-04-16   0.00    NaN    NaN   0.10   31881600
1986-04-17   0.00    NaN    NaN   0.11   21983904
1986-04-18   0.00    NaN    NaN   0.10   21609504
1986-04-21   0.00    NaN    NaN   0.10   22902336
1986-04-22   0.00    NaN    NaN   0.10   15535872
1986-04-23   0.00    NaN    NaN   0.10   15593472
1986-04-24   0.00    NaN    NaN   0.11   62176032
...           ...    ...    ...    ...        ...
2016-03-18  54.92  54.97  53.44  53.49   67422879
2016-03-21  53.25  53.93  52.93  53.86   23807263
2016-03-22  53.61  54.25  53.46  54.07   22911577
2016-03-23  54.11  54.24  53.74  53.97   19905295
2016-03-24  53.84  54.33  53.73  54.21   18842667
2016-03-28  54.21  54.29  53.33  53.54   16988240
2016-03-29  53.66  54.86  53.45  54.71   23375017
2016-03-30  54.93  55.64  54.90  55.05   22920330
2016-03-31  54.95  55.59  54.86  55.23   26173764
2016-04-01  55.05  55.61  54.57  55.57   24298612
2016-04-04  55.43  55.66  55.00  55.43   18832210
2016-04-05  55.19  55.30  54.46  54.56   19148783
2016-04-06  54.36  55.20  54.21  55.12   21032057
2016-04-07  54.87  54.91  54.23  54.46   18584125
2016-04-08  54.67  55.28  54.32  54.42   22157037
2016-04-11  54.49  55.15  54.30  54.31   21332336
2016-04-12  54.37  54.78  53.76  54.65   24574169
2016-04-13  55.12  55.44  54.89  55.35   20601278
2016-04-14  55.22  55.58  55.07  55.36   20875102
2016-04-15  55.30  55.92  55.11  55.65   28377584
2016-04-18  55.49  56.59  55.21  56.46   23150318
2016-04-19  56.63  56.77  55.68  56.39   29533701
2016-04-20  56.29  56.50  55.48  55.59   36014074
2016-04-21  55.80  56.23  55.42  55.78   36826521
2016-04-22  51.91  52.43  50.77  51.78  125600219
2016-04-25  51.78  52.13  51.63  52.11   33106540
2016-04-26  52.26  52.35  51.09  51.44   33262278
2016-04-27  51.48  51.50  50.55  50.94   43145896
2016-04-28  50.62  50.77  49.56  49.90   42758226
2016-04-29  49.35  50.25  49.35  49.87   48411684

[7611 rows x 5 columns]